* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 14px;
}

body {
  background-color: #fafafa;
  color: #262626;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 22px;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 90px;
}

.hero__logo {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.hero__title {
  font-size: 3em;
  margin: 10px 0;
}

.hero__subtitle {
  font-size: 1.5em;
  margin: 10px 0;
  max-width: 600px;
  margin: 0 auto;
}

.hero__btns {
  max-width: 600px;
  margin: 0 auto;
}

.hero__btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  margin-top: 50px;
}

/* Media Queries */
@media (max-width: 770px) {
  .hero__logo {
    width: 100%;
  }

  .hero__title {
    font-size: 1.5em;
  }

  .hero__subtitle {
    font-size: 1em;
  }
}
